@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  font-family: Andalé Mono, sans-serif;
}

.navbar {
  display: flex;
  width: 100%;
  background-color: rgba(232, 232, 232, 0.5);
  align-items: center;
  border-bottom: solid 1px #e8e8e8;
  margin-bottom: 25px;
  justify-content: space-between;
}

.logo-head {
  display: flex;
  margin-left: 25px;
}

.logo {
  width: 50px;
  padding: 10px;
}

.logo-title {
  color: #000;
  font-size: 1.875rem;
  font-weight: bold;
}

.NavLinks {
  display: flex;
  list-style-type: none;
  margin-right: 30px;
}

.NavLinks>li>a {
  text-decoration: none;
  padding: 10px;
  color: #525252;
}

.loading {
  color: #fff;
  background-color: rgb(12, 145, 0);
  padding: 15px;
  text-align: center;
  margin: auto;
  width: 20%;
  border-radius: 5px;
  font-weight: 900;
}

.rocketList {
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding: 5%;
}

.rocketCard {
  display: flex;
  justify-content: flex-start;
  width: 95%;
  margin: auto;
  border: 1px solid grey;
  border-radius: 8px;
  gap: 22px;
  box-shadow: 0 0 0 1px rgba(232, 232, 232, 0.5);
}

img {
  width: 30%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  padding: 3%;
}

.rocketContent {
  padding: 3%;
}

.status {
  background-color: rgb(72, 179, 221);
  border-radius: 3px;
  padding: 2px;
}

.rocketName {
  font-size: 20px;
  font-weight: bold;
}

.rocketDesc {
  font-size: 15px;
  text-align: justify;
}

.reserve,
.cancel {
  font-size: 16px;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.reserve {
  background-color: rgb(25, 54, 218);
  color: #fff;
  border: none;
}

.cancel {
  border: solid 1px rgb(128, 128, 128);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 20px;
  width: inherit;
}

.desc {
  width: 70%;
}

tr:nth-child(even) {
  background-color: #ddd;
}

.missions {
  padding: 1em 2em 2em;
}

/* My Profile */
.profile {
  width: 90%;
  display: flex;
  margin: auto;
  gap: 2em;
}

.rockets {
  flex: 1;
}

.activeRockets {
  border: 1px solid rgb(197, 197, 197);
  border-radius: 5px;
}

.activeRockets>ul {
  padding-right: 0;
  margin: 0;
}

.activeRockets>ul>li {
  list-style: none;
  border-bottom: 1px solid rgb(197, 197, 197);
  padding: 10px 0 15px 10px;
}

.activeRockets>ul>li:last-child {
  border-bottom: none;
}

.missions-table {
  border-collapse: collapse;
  width: 400px;
}